<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

    <context:component-scan base-package="com.softserveinc.trainee.*" />
    <tx:annotation-driven transaction-manager="transactionManager"/>


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:database.properties</value>
            </list>
        </property>
    </bean>

    <bean id="Apply_metadata" class="com.softserveinc.trainee.executer.executerImpl.TableGenerator"/>
    <bean id="Upload_data" class="com.softserveinc.trainee.executer.executerImpl.CsvLoader"/>

    <bean id="applicationContextProvder" class="com.softserveinc.trainee.applicationUtil.ApplicationContextProvider"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${javax.persistence.jdbc.driver}" />
        <property name="url" value="${javax.persistence.jdbc.url}" />
        <property name="username" value="${javax.persistence.jdbc.user}" />
        <property name="password" value="${javax.persistence.jdbc.password}" />
    </bean>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        <property name="packagesToScan" value="com.softserveinc.trainee.entity.metadata.*" />
        <property name="persistenceXmlLocation" value="classpath:/META-INF/persistence.xml"></property>
        <property name="persistenceUnitName" value="application" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="true" />
                <property name="showSql" value="false" />
            </bean>
        </property>
    </bean>


    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
        <property name="dataSource" ref="dataSource" />
    </bean>

                <!--Add second connection to another DB-->

    <bean id="dataSourceAdministration" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${administration.javax.persistence.jdbc.driver}" />
        <property name="url" value="${administration.javax.persistence.jdbc.url}" />
        <property name="username" value="${administration.javax.persistence.jdbc.user}" />
        <property name="password" value="${administration.javax.persistence.jdbc.password}" />
    </bean>

    <bean id="entityManagerFactoryAdministration"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource">
            <ref bean="dataSourceAdministration" />
        </property>
        <property name="persistenceXmlLocation" value="classpath:/META-INF/persistence.xml"></property>
        <property name="persistenceUnitName" value="administration" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="true" />
                <property name="showSql" value="false" />
            </bean>
        </property>
    </bean>


    <bean id="transactionManagerAdministration" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactoryAdministration" />
        <property name="dataSource" ref="dataSourceAdministration" />
    </bean>

                                <!-- JDBC TEmplate beans -->

    <bean id="dataSourceJdbcTemplate" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${administration.javax.persistence.jdbc.driver}" />
        <property name="url" value="${jdbc.template.url}" />
        <property name="username" value="${administration.javax.persistence.jdbc.user}" />
        <property name="password" value="${administration.javax.persistence.jdbc.password}" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSourceJdbcTemplate"></property>
    </bean>

</beans>