<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context" xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<import resource="classpath*:applicationContext.xml" />

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <bean id="EntityService" class="com.softserveinc.trainee.service.Impl.EntityServiceImpl" />
    <bean id="RequestTaskService" class="com.softserveinc.trainee.service.Impl.JobServiceImpl"/>
    <bean id="CustomTables" class="com.softserveinc.trainee.service.Impl.CustomTableServiceImpl"/>

    <jaxrs:server id="RestContainer" address="/">
    <jaxrs:providers>
        <!--<bean class="com.softserveinc.trainee.mapper.NotFoundExceptionHandler" />
        <bean class="com.softserveinc.trainee.mapper.ClientErrorExeptionHandler"/>
        <bean class="com.softserveinc.trainee.mapper.WebApplicationExceptionHandler"/>
        <bean class="com.softserveinc.trainee.mapper.ThrowableMapper"/>-->
        <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
      </jaxrs:providers>
    <jaxrs:serviceBeans>
        <ref bean="EntityService"/>
        <ref bean="RequestTaskService"/>
        <ref bean="CustomTables"/>
    </jaxrs:serviceBeans>
</jaxrs:server>
</beans>